Final_Assembly_Asclepias_tomentosa_TACT.fa_phylogenetic_probes_uppercase_reference.fsa.test.pslx
Final_Assembly_Calotropis_procera_TGACTT.fa_phylogenetic_probes_uppercase_reference.fsa.test.pslx
Phylogenetic_probe_set_plus-clustered_120plus.fasta
filenames
Final_Assembly_Calotropis_procera_TGACTT.fa_phylogenetic_probes_uppercase_reference.fsa.pslx
Final_Assembly_Asclepias_tomentosa_TACT.fa_phylogenetic_probes_uppercase_reference.fsa.pslx
